body {
    background-color: green;
    background: url(Tennis.jpg) 0 0;
    background-size: cover;
}

h1   {
    color: rgb(8, 0, 1);
}
li   {
    color: rgb(255, 255, 255);
}
table, th, td {
    border:1px solid black;
  }
  
    a:link {color:#3b0303; text-decoration: none;}
    a:visited {color: #020102;}
    a:hover {text-decoration: underline;}
*{
    box-sizing: border-box;
    }
    .layout {
        width: 1366px;
        height: 768px;
      
        display: grid;
        grid:
          "header" 20%
          "main" 80%    
          / 1fr;
        gap: 8px;
      }
      
      .header { grid-area: header; }
      .main { grid-area: main; }